.about-page {
    margin: 0px 30px;
}

.github-link {
    color: #8AA989;
}

.about-list-header {
    margin-bottom: 0px;
}

.about-list {
    margin-top: 5px;
    list-style: none;
    line-height: 1.4;
}

.about-list-item-title {
    font-weight: bold;
}