.question-word {
    text-align: center;
}

.word-definition-container {
    background: #f4f7f8;
    color: #212121;
    padding: 10px;
    margin: 0 10%;
    border-radius: 8px;
    border: 1px solid #C1C0B9;
    box-shadow: 1px 1px #C1C0B9;
}

.word-definition {
    display: block;
    margin: 0;
}

.word-sentence-example {
    display: block;
    margin: 10%;
}

.question-feedback-text {
    text-align: center;
    font-weight: normal;
}

.correct-answer-text {
    font-weight: bold;
    color: #253628;
}

.question-options-container {
    display: flex;
    flex-direction: column;
}

.question-option {
    width: 250px;
    background-color: #49654C;
    color: #C0CEB2;
    font-weight: bold;
    font-size: 24px;
    margin: 10px auto;
    padding: 20px;
}

.wrong-answer-option {
    text-decoration: line-through;
}

.feedback-buttons-container {
    display: flex;
    justify-content: space-around;
}

.feedback-button {
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 18px;
    width: 40%;
    background-color: #253628;
    color: #edf1de;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}