.header-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #72ae84;
    color: #edf1de;
}

.header-link {
    text-decoration: none;
    color: #edf1de;
}

.header-item {
    margin: 10px 15px;
}