.header-bar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8AA989;
    color: #edf1de;
}

.header-link {
    text-decoration: none;
    color: #edf1de;
}

.header-item {
    margin: 10px 15px;
}

.desktop {
    display: none;
}

.hamburger-icon {
    width: 43px;
    height: 29px;
    position: relative;
    margin-right: 15px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}
      
.hamburger {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #edf1de;
    border-radius: 5px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.hamburger-top-stripe {
    top: 0px;
    transform-origin: left center;
}
  
.hamburger-middle-stripe {
    top: 12px;
    transform-origin: left center;
}
  
.hamburger-bottom-stripe {
    top: 24px;
    transform-origin: left center;
}
  
.hamburger-top-open {
    transform: rotate(45deg);
    top: -3px;
    left: 4px;
}
  
.hamburger-middle-open {
    width: 0%;
    opacity: 0;
}
  
.hamburger-bottom-open {
    transform: rotate(-45deg);
    top: 27px;
    left: 5px;
}

@media screen and (min-width: 600px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    .log-out-button {
        padding: 10px 20px;
        margin-right: 15px;
        font-size: 14px;
        width: 100px;
        background-color: #253628;
        color: #edf1de;
        font-weight: bold;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }
}