.landing-page {
    text-align: center;
}

.log-in-text-block {
    line-height: 1.8em;
    margin: 0;
}

.log-in-links-text {
    color: #253628;
    font-weight: bold;
}

a {
    text-decoration: none;
}

/* General Text Size Styles */

.primary-header {
    color: #253628;
    font-size: 40px; 
}

.secondary-header {
    color: #253628;
    font-size: 30px; 
}

.content-text-normal {
    font-size: 20px;
}