.landing-page {
    text-align: center;
}

.landing-page-intro-block {
    max-width: 600px;
    width: 95%;
    margin: 25px auto;
    line-height: 1.5em;
}

.landing-page-more-information {
    text-align: left;
    margin: 10px 0px 0px 15px;
    background: #f4f7f8;
    color: #212121;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #C1C0B9;
    box-shadow: 1px 1px #C1C0B9;
}

.log-in-text-block {
    line-height: 1.8em;
    margin: 0;
}

.log-in-links-text {
    color: #253628;
    font-weight: bold;
}

a {
    text-decoration: none;
}

/* General Text Size Styles */

.primary-header {
    color: #253628;
    font-size: 40px; 
}

.secondary-header {
    color: #253628;
    font-size: 30px; 
}

.content-text-normal {
    font-size: 20px;
}