.menu {
    margin-top: 57px;
}

.menu-container {
    background-color: #8AA989;
}

.menu-link {
    text-decoration: none;
}

.menu-item {
    color: #edf1de;
    margin: 0px;
    padding: 5px 15px;
    border-top: 1px solid #edf1de;
    font-weight: normal;
    font-size: 20px;
}