.question {
    text-align: center;
}

.question-options-button-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.question-option-button {
    width: 250px;
    background-color: #49654C;
    color: #C0CEB2;
    font-weight: bold;
    font-size: 24px;
    margin: 10px auto;
    padding: 20px;
    cursor: pointer;
}