.word-sets {
    text-align: center;
}

.hide {
    display: none;
}

.word-set-button {
    padding: 20px;
    margin: 10px;
    font-size: 18px;
    width: 200px;
    background-color: #253628;
    color: #edf1de;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}

.progress-meter {
    margin: 5px auto;
    width: 150px;
    background-color: #212121;
    border-radius: 13px; /* (height of inner div) / 2 + padding */
    padding: 3px;
}

.current-progress {
    background-color: #8AA989;
    height: 20px;
    border-radius: 10px;
}